sgdisk
lvm2
device-mapper
e2fsprogs
e2fsprogs-extra
pciutils
usbutils
util-linux
tar
xz
zstd
wget
curl
sudo
nano
less
htop
networkmanager
networkmanager-cli
networkmanager-tui
networkmanager-wifi
wpa_supplicant
wireless-regdb
crda
rfkill
iw
dhcpcd
